/ .metadata/

HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bookstore/target
bookstore/.settings
bookstore/.mvn
.metadata
apimongo/target
apimongo/.settings
apimongo/.mvn
apimongo.metadata
test_redis/target
test_redis/.settings
test_redis/.mvn

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/
SimpleConfigSSL/.gitignore
SimpleConfigSSL/.mvn/
SimpleConfigSSL/mvnw/
SimpleConfigSSL/mvnw.cmd
SimpleConfigSSL/.gitignore
SimpleConfigSSL/mvnw
test_Redis/mvnw
test_Redis/mvnw.cmd
test_Redis/.gitignore
